<ng-container>
  <br>
  <form (ngSubmit)="handleRequest()" ngNativeValidate>
    <label class="inputLabel" for="account_name">Investment Account</label>
    <br>
    <span>
      <!-- Investment Account: -->
      <select required [(ngModel)]='req.account_id' class="form-select" id="invest_account_id" name="invest_account_id">
        <option value="undefined"></option>
        <option *ngFor="let i of investmentAccounts" value={{i.id}}>
          {{i.name}}
        </option>
      </select>
    </span>
    <br/><br>

    <span>
      <label class="inputLabel" for="account_name">Cash Account</label>
      <br>
      <select required [(ngModel)]='req.cash_account' class="form-select" id="cashAccount" name='cash_account_id'>
        <option value="undefined"></option>
        <option *ngFor="let c of cashAccounts" value={{c.id}}>
          {{c.name}} 
        </option>
      </select>
    </span>
    <br/><br>

    <span>
      <label class="inputLabel" for="account_name">Select Action</label>
      <br> 
      <select required [(ngModel)]='action' class="form-select" id="action" name='action'>
        <option value="undefined"></option>
        <option value='buy'>Buy</option>
        <option value='sell'>Sell</option>
      </select><br/><br>
    </span>

    <span>
      <label class="inputLabel" for="account_name">Ticker Symbol</label>
      <br> 
      <input required [(ngModel)]='req.symbol' id='symbol' class='form-text' name='id'/>
    </span>
    <br>

    <span>
      <label class="inputLabel" for="account_name">Select Quantity</label>
      <br> 
      <input required [(ngModel)]='req.holdings' type='number' name='quantity' min="1" class='form-text'/>
    </span>
    <br><br>

    <button type="button" class="btn btn-success" type='submit'>Submit</button>

  </form>
</ng-container>