<div class="card my-3">
  
  <div class="card-body">
    <h2 class="font-weight-bold">Portfolio Performance</h2>
    <hr>
    <br>

    <h5 class="font-weight-bold">Top Gainers</h5>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Symbol</th> 
        <th scope="col">Gain</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of topGainersSecurities">
        <td>{{ s.symbol }}</td>
        <td class="secGain">{{ securityChangeCalculator(s) }}%</td>
      </tr>
      </tbody>
    </table>

    <br>

    <hr>
    <br>
    <h5 class="font-weight-bold">Top Losers</h5>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Symbol</th> 
        <th scope="col">Loss</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of topLosersSecurities">
        <td>{{ s.symbol }}</td>
        <td class="secLoss">{{ securityChangeCalculator(s) }}%</td>
      </tr>
      </tbody>
    </table>
    
  </div>

</div>