<div class="card my-3">
  
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h2 class="font-weight-bold" >Past Performance</h2>
    </div>
    <hr/>
    <br>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Cash Accounts </th> 
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Week Ago</td><td>${{weekCash}}</td>
        </tr>
        
        <tr>
          <td>Month Ago</td><td>${{monthCash}}</td>
        </tr>
        <tr>
          <td>Year Ago</td><td>${{yearCash}}</td>
        </tr>
   
      </tbody>
    </table>
    <br/>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Investment Accounts </th> 
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
        <tr>
        <tr>
          <td>Week Ago</td><td>${{weekInvestment}}</td>
        </tr>
        <tr>
          <td>Month Ago</td><td>${{monthInvestment}}</td>
        </tr>
       
        <tr>
          <td>Year Ago</td><td>${{yearInvestment}}</td>
        </tr>
   
      </tbody>
    </table>


  </div>
    
</div>
