<div class="card my-3">
  
  <div class="card-body">
    <h2 class='font-weight-bold'>Investment Overview</h2>
    <hr>

    <div>
      <br>
      <div>
        <h5 class="ml-auto">Number of Securities: {{numberOfSecurities}}</h5>
        <h5 class="ml-auto">#1: {{allLabels[0]}} {{allAmounts[0]/investmentValue*100 | number : '1.2-2'}}%</h5>
        <h5 class="ml-auto">#2: {{allLabels[1]}} {{allAmounts[1]/investmentValue*100 | number : '1.2-2'}}%</h5>
        <h5 class="ml-auto">#3: {{allLabels[2]}} {{allAmounts[2]/investmentValue*100 | number : '1.2-2'}}%</h5>
        <h5 class="ml-auto">#4: {{allLabels[3]}} {{allAmounts[3]/investmentValue*100 | number : '1.2-2'}}%</h5>
        <h5 class="ml-auto">#5: {{allLabels[4]}} {{allAmounts[4]/investmentValue*100 | number : '1.2-2'}}%</h5>
        <h5 class="ml-auto">Other: {{allAmounts[5]/investmentValue*100 | number : '1.2-2'}}%</h5>
      <div>
      <br>
      <canvas id="investmentSummaryChart"></canvas>
    </div>
    
  </div>

</div>