<div class="card my-1">
  
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h2 class="font-weight-bold " >Accounts</h2>
      <button class="btn btn-info my-2 font-weight-bold ml-auto">Manage Accounts</button>
    </div>
    <hr>
    <h4>Networth: {{netWorth | currency}}</h4>
    <!-- <hr> -->
    <br>
    <div class="d-flex flex-row bd-highlight mb-3">
      <h5 class="font-weight-bold mr-auto">Cash </h5>
      <h5 class="font-weight-bold ml-auto"> ${{cashValue}}</h5>

    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of cashAccounts">
        <td>{{ c.name }}</td>
        <td>{{ c.amount | currency }}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h5 class="font-weight-bold mr-auto" >Investments</h5>
      <h5 class="font-weight-bold ml-auto"> ${{investmentValue}}</h5>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of investmentAccounts">
        <td>{{ i.name }}</td>
        <td>{{ i.amount | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>