<div class="card my-1">
  
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h2 class="font-weight-bold" >Accounts</h2>
      <button class="btn btn-info my-2 font-weight-bold ml-auto">Manage Accounts</button>
    </div>
    <hr>
    <!-- <hr> -->
    <div id="chart-demo">
      <dx-pie-chart #pie
          [title]="'Net Worth: $'+ netWorth"
          palette="bright"
          [dataSource]="netWorthChartInfo"
          [resolveLabelOverlapping]="resolveOverlappingTypes[1]">
          <!-- <dxo-title>
            <dxo-font
                color="black">
            </dxo-font>
          </dxo-title> -->
          <dxo-margin [bottom]="20"></dxo-margin>
          <dxo-legend [visible]="true">
            <dxo-font [size]="20"></dxo-font>
          </dxo-legend>
          <dxo-export [enabled]="true"></dxo-export>
          <dxi-series
              argumentField="accountType"
              valueField="medals">
              <dxo-label
                  [visible]="true"
                  [customizeText]="customizeLabel"
              >
              <dxo-font [size]="15"></dxo-font>
              </dxo-label>
          </dxi-series>
      </dx-pie-chart>
  </div>

    <br>
    <div class="d-flex flex-row bd-highlight mb-3">
      <h4 class="font-weight-bold mr-auto">Cash </h4>
      <h4 class="font-weight-bold ml-auto"> ${{cashValue}}</h4>
    </div>
    <hr>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of cashAccounts">
        <td>{{ c.name }}</td>
        <td>{{ c.amount | currency }}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h4 class="font-weight-bold mr-auto" >Investments</h4>
      <h4 class="font-weight-bold ml-auto"> ${{investmentValue}}</h4>
    </div>
    <hr/>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of investmentAccounts">
        <td>{{ i.name }}</td>
        <td>{{ i.amount | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>