<div class="card my-1">
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h2 class="font-weight-bold" >{{currAccount.name}} Overview</h2>
    </div>
    <hr>
    <br>
    <div class="d-flex flex-row bd-highlight mb-3">
      <h4 class="font-weight-bold mr-auto">ID </h4>
      <h4 class="font-weight-bold ml-auto">{{accountId}}</h4>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <h4 class="font-weight-bold mr-auto">Amount </h4>
      <h4 class="font-weight-bold ml-auto"> {{currAccount.amount|currency}}</h4>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <h4 class="font-weight-bold mr-auto">Type </h4>
      <h4 class="font-weight-bold ml-auto"> {{currAccount.type}}</h4>
    </div>
    
    <!-- <hr> -->
    <!-- Securities Table -->
    <div *ngIf="isInvestmentAccount">
      <div class="d-flex flex-row bd-highlight mb-3">
        <h4 class="font-weight-bold mr-auto">Current Security Holdings </h4>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Ticker Symbol</th>
          <th scope="col">Holdings</th> 
          <th scope="col">Closing Cost</th> 
          <th scope="col">Current Price</th> 
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of currAccount.securitiesList">
          <td>{{ c.symbol }}</td>
          <td>{{ c.holdings }}</td>
          <td>{{ c.closing_cost | currency }}</td>
          <td>{{ c.current_cost | currency }}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-end">
        <button class="btn-lg btn-primary">Buy/Sell Securities</button>
      </div>
    </div>

    <!-- Transactions Table -->
    <div *ngIf="!isInvestmentAccount">
      <div class="d-flex flex-row bd-highlight mb-3">
        <h4 class="font-weight-bold mr-auto">Recent Transactions </h4>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Amount</th> 
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of history">
          <td>{{ c.transactionDate }}</td>
          <td>{{ c.amount }}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-end">
        <button class="btn-lg btn-primary" (click)="onDepositWithdrawBtn()">Deposit/Withdraw</button>
      </div>
    </div>
    <br>
  </div>
</div>

<br>
<!-- Deposit/WithDraw Form for Cash Accounts -->
<div class="card my-1" *ngIf="!isInvestmentAccount" [hidden]="!showDepositWithdrawForm">
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3" >
      <h2 class="font-weight-bold mr-auto" >{{currAccount.name}}: Deposit/Withdraw</h2>
      <button class="btn btn-danger ml-auto" (click)="onCancelForm()">Cancel</button>
    </div>
    <form [formGroup]="depositWithdrawForm" (ngSubmit)="onSubmitDepositWithdraw()">
      <!-- <div formGroupName="userData"> -->
        <div class="form-group" >
          <label for="account_name">Account Name</label>
          <input
            type="text"
            id="account_name"
            class="form-control"
            formControlName="account_name"
            readonly
            [value]="currAccount.name"
            >
            <span
              class="errorMsg help=block"
              *ngIf="!depositWithdrawForm.get('account_name').valid && depositWithdrawForm.get('account_name').touched"    
            >
            </span>
        </div>
        <p>Transaction Type:</p>
        <div class="radio" *ngFor="let option of cashAccOptions">
          <label>
            <input
              type="radio"
              [value]="option"
              formControlName="transactionType"
            >{{ option }}
          </label>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
            min="1"
            value=1
          >
          <span
          class="errorMsg"
          *ngIf="!depositWithdrawForm.get('amount').valid && depositWithdrawForm.get('amount').touched"    
          >
            Required!
          </span>
          <br>
          <span
          class="errorMsg"
          *ngIf="!depositWithdrawForm.get('amount').valid && depositWithdrawForm.get('amount').touched && depositWithdrawForm.get('transactionType').value=='Withdraw'"    
          >
          Withdrawl amount must be smaller or equal to Account value.
          </span>
        </div>
      <!-- </div> -->
      <button class="btn btn-success" type="submit" [disabled]="!depositWithdrawForm.valid">Submit</button>
    </form>
  </div>
</div>



    